.clockContainer{
    margin: auto;
    background-color: red;
    height: 30vw;
    width: 30vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;

}

#hour{
    width: 1%;
    height: 12%;
    top: 21%;
    left: 49.5%;
    opacity:0.8;
}

#minute{
    width: 0.5%;
    height: 16%;
    top: 17.09%;
    left: 49.3%;
    opacity:0.8;
}

#second{
    width: 0.1%;
    height: 22%;
    top: 10.1%;
    left: 49.8%;
    opacity:0.8;
}
